<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <style type="text/css">
      body{
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script>

        const map = L.map('map', {scrollWheelZoom:true}).setView([30, 10], 2);

        const basemaps = {
          StreetView: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',   {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'})
        };

        const overlayMaps = {
         Pressure: L.tileLayer.wms('http://tile.openweathermap.org/map/pressure_new/{z}/{x}/{y}.png?appid=6bf0b5b210ae108911dc115a50ddcc7b'),
         Temperature: L.tileLayer('http://tile.openweathermap.org/map/temp_new/{z}/{x}/{y}.png?appid=6bf0b5b210ae108911dc115a50ddcc7b'),
         Precipitation: L.tileLayer.wms('http://tile.openweathermap.org/map/precipitation_new/{z}/{x}/{y}.png?appid=6bf0b5b210ae108911dc115a50ddcc7b'),
         Clouds: L.tileLayer.wms('http://tile.openweathermap.org/map/clouds_new/{z}/{x}/{y}.png?appid=6bf0b5b210ae108911dc115a50ddcc7b')
        };


        L.control.layers(basemaps, overlayMaps).addTo(map);

        basemaps.StreetView.addTo(map)





    </script>
  </body>
</html>
